<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SocketClient.Properties.Settings.ProjectDb_BramConnectionString"
            connectionString="Data Source=172.20.1.20;Initial Catalog=ProjectDb_Bram;Persist Security Info=True;User ID=Student.Voorbeeld;Password=Student+2019"
            providerName="System.Data.SqlClient" />
        <!--<add name="SocketClient.Properties.Settings.ProjectDb_BramLocalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\lobbe\OneDrive\Documents\ErasmusHogeschool\Project\prototype_2\SocketProgram\SocketServer\ProjectDb_BramLocal.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>